<div style="text-align: center;" class="container">
    <h1 style=" margin-top:30px;">State Bank Of India</h1>
    {{aim}}
</div>


<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div style="width: 35%;height: 330px; background-color: white ; border-radius: 2px;" class="container">
        <div class="mb-3">
            <label style="margin-top: 7px;" for="acno" class="form-label">Account number</label>
            <input [value]="aim"  type="text" formControlName ="accno" name= "accno" class="form-control" id="acno">
            <div *ngIf="(this.loginForm.get('accno')?.touched||this.loginForm.get('accno')?.dirty)&&this.loginForm.get('accno')?.errors" class="err">invalid accno</div>


        </div>
        <div class="mb-3">
            <label for="pswd" class="form-label">password</label>
            <input type="password" formControlName ="pwd" name="pwd" class="form-control" id="pswd">
            <div *ngIf="(this.loginForm.get('pwd')?.touched||this.loginForm.get('pwd')?.dirty)&&this.loginForm.get('pwd')?.errors" id="paass" class="err">Wrng pwd fmt</div>
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
        </div>
        <div style="display: flex;justify-content: center;">
            <button type="submit"  class="btn btn-primary">login</button>
            <a routerLink="register" ><button type="button" class="btn btn-primary">Reg</button></a>
            
        </div></div>

       
</form>