<div style="text-align: center;"  class="container">
  <h1 style=" margin-top:30px;">Welcome {{this.dataser.currentUser}}</h1>
</div>

<table style="margin-left: 25%;"><tr><td>
  <form [formGroup]="depForm" (ngSubmit)="deposit()">
    <div style="text-align: center;"  class="container">
      <h2 style=" margin-top:30px;">Cash Deposit Form</h2>
    </div>

    <div style="width: 100%;height: 330px; background-color: white ; border-radius: 2px;" class="container">
      <div class="mb-3">
        <label style="margin-top: 7px;" for="acno" class="form-label">Account number</label>
        <input type="text" class="form-control" formControlName ="accno" name="accno" id="acno">
        <div *ngIf="(this.depForm.get('accno')?.touched||this.depForm.get('accno')?.dirty)&&this.depForm.get('accno')?.errors" class="err">invalid accno</div>



      </div>
      <div class="mb-3">
        <label for="pswd" class="form-label">password</label>
        <input type="password" class="form-control" formControlName ="pwd" name="pwd" id="pswd">
        <div *ngIf="(this.depForm.get('pwd')?.touched||this.depForm.get('pwd')?.dirty)&&this.depForm.get('pwd')?.errors" class="err">illegal pwd</div>

        </div>
      


      <div class="mb-3">
        <label for="pswd" class="form-label">Amount</label>
        <input type="text" class="form-control" formControlName ="amt" name="pwd" id="amt">
        <div *ngIf="(this.depForm.get('amt')?.touched||this.depForm.get('amt')?.dirty)&&this.depForm.get('amt')?.errors" class="err">illegal amt</div>
        <div id="emailHelp" class="form-text">Enter in indian rupees</div>
      </div>


      
      <div style="display: flex;justify-content: center;">
        <button  type="submit"  class="btn btn-primary">deposit</button>
        
      </div>
    </div>

  </form>
</td>
<td>

  <form [formGroup]="withForm" (ngSubmit)="withdraw()">
    <div style="text-align: center;"  class="container">
      <h2 style=" margin-top:30px;">Cash Withdrawal Form</h2>
    </div>
    
    <div style="width: 100%;height: 330px; background-color: white ; border-radius: 2px;" class="container">
      <div class="mb-3">
        <label style="margin-top: 7px;" for="acno" class="form-label">Account number</label>
        <input type="text" formControlName="accno" name="accno" class="form-control" id="acno">
        <div *ngIf="(this.withForm.get('accno')?.touched||this.withForm.get('accno')?.dirty)&&this.withForm.get('accno')?.errors" class="err">invalid accno</div>



      </div>
      <div class="mb-3">
        <label for="pswd" class="form-label">password</label>
        <input type="password" formControlName="pwd" name="pwd" class="form-control" id="pswd">
        <div *ngIf="(this.withForm.get('pwd')?.touched||this.withForm.get('pwd')?.dirty)&&this.withForm.get('pwd')?.errors" class="err">illegal pwd</div>

        </div>
      


      <div class="mb-3">
        <label for="pswd" class="form-label">Amount</label>
        <input type="text" formControlName="amt" name="amt" class="form-control" id="amt">
        <div *ngIf="(this.withForm.get('amt')?.touched||this.withForm.get('amt')?.dirty)&&this.withForm.get('amt')?.errors" class="err">invalid amt</div>
        <div id="emailHelp" class="form-text">Enter in indian rupees</div>
        
      </div>


      
      <div style="display: flex;justify-content: center;">
       <button style="margin-left: 5px;" type="submit"  class="btn btn-primary">withdraw</button>
      </div>
    </div>

  </form>
</td>
</tr></table>


  
